.navbar {
  background: #07090D !important;
}

.bg-primary {
    background-color: #03738C !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #0396A6;
}

.text-secondary {
    color: #023859 !important;
}

.portfolio .portfolio-item .portfolio-item-caption {
    background-color: rgba(3,150,166,.9);
}

.pg-canvas {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    height: 768px;
    width: 100%;
}

#portfolio {
    background: #2c2c2c;
}

#portfolio .text-secondary {
    color: #fff !important;
}

#portfolio .divider-custom .divider-custom-line{
  background: #fff !important;
}

#portfolio .divider-custom .divider-custom-icon{
  color: #fff !important;
}

.portfolio-modal .close {
    color: #0396A6;
}

#particles{
  min-height: 400px !important;
background: transparent !important;
}

.btn-primary {
    color: #fff;
    background-color: #0396A6 !important;
    border-color: #0396A6 !important;
}

@media (min-width: 992px){
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active {
      color: #fff;
      background: #0396A6 !important;
      transition: all 0.3s;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link {
      transition: all 0.3s;
  }
}

.monokai-bg {
    background: #2e2e2e !important;
}

.monokai-comments {
    color: #797979 !important;
}

.monokai-white {
    color: #d6d6d6 !important;
}

.monokai-bg-white {
    background: #d6d6d6 !important;
}

.monokai-yellow {
    color: #e5b567 !important;
}

.monokai-green {
    color: #b4d273 !important;
}

.monokai-orange {
    color: #e87d3e !important;
}

.monokai-purple {
    color: #9e86c8 !important;
}

.monokai-pink {
    color: #b05279 !important;
}

.monokai-blue {
    color: #6c99bb !important;
}

section#timeline div[class*="group"], section#timeline article div.panel div.badge {
    cursor: initial;
    padding: initial;
    line-height: initial;
    white-space: initial;
    vertical-align: initial;
    transition: initial;
}

ul#timeline-menu {
    height: 50px;
    text-align: center !important;
    display: block;
    margin: auto;
    width: fit-content;
    padding: 0px;
}

section#timeline div[class*="group"] {
    background: #b05279;
    box-shadow: 0 0 0 2px #b05279, inset 0 2px 0 rgb(0 0 0 / 10%), 0 3px 0 2px rgb(0 0 0 / 15%);
}

section#timeline article div.panel div.badge
{
    color: #b05279;
    box-shadow: 0 0 0 2px #b05279, inset 0 2px 0 rgb(0 0 0 / 10%), 0 3px 0 2px rgb(0 0 0 / 15%);
}

section#timeline:before {
    background-color: #b05279;
}

section#timeline > article > div.panel .panel-heading {
    background-color: #b05279;
}

section#timeline article div.panel div.badge:last-child {
    background-color: #b05279;
}

ul#timeline-menu li a:hover {
    color: #1abc9c;
    border-bottom: 5px solid #1abc9c;
}

#contato {
    background: #797979 !important;
}

.copyright{
    background-color: #2e2e2e !important;
}

@media screen and (max-device-width: 640px) {
    section#timeline > article > div.panel {
        width: initial;
        float: none;
        margin: 15px 0px;
    }
    section#timeline article div.panel div.badge {
        position: initial;
        display: block;
        margin: auto;
        box-shadow: none !important;
    }

    section#timeline > article:last-of-type > div.panel {
        box-shadow: none !important;
    }
    section#timeline article div.panel div.badge:last-child{
        margin: auto;
    }

    .lead {
        text-align: center;
    }

    body, html {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    #particles {
        background-attachment: fixed !important;
        background-size: cover !important;
        background-image: url(../img/bg_1.jpg) !important;
        background-position: center center !important;
    }
}