.navbar {
  background: #07090D !important;
}

.bg-primary {
    background-color: #03738C !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #0396A6;
}

.text-secondary {
    color: #023859 !important;
}

.portfolio .portfolio-item .portfolio-item-caption {
    background-color: rgba(3,150,166,.9);
}

.pg-canvas {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    height: 768px;
    width: 100%;
}

#portfolio {
    background: #2c2c2c;
}

#portfolio .text-secondary {
    color: #fff !important;
}

#portfolio .divider-custom .divider-custom-line{
  background: #fff !important;
}

#portfolio .divider-custom .divider-custom-icon{
  color: #fff !important;
}

#particles{
  background-image:url('../img/code-background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 992px){
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active {
      color: #fff;
      background: #0396A6 !important;
  }
}
